<!DOCTYPE html>
<html>
<head>
    <title>Add Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_password.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/add-password.js') }}"></script>
</head>
<body>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category | e }}">
                        {{ message | e }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <div class="container">
        <div class="user-info">
            <p>Welcome, {{ username | e }}!</p>
        </div>
        <h1>Add Password</h1>
        <form id="add-password-form" method="POST" action="/add-password">
            <div class="form-group">
                <input type="text" id="website" name="website" placeholder="Enter a website" required>
            </div>
            <div class="form-group">
                <input type="password" id="master_password" name="master_password" placeholder="Enter your master password" required>
            </div>
            <div class="form-group">
                <input type="text" id="password" name="password" placeholder="Enter a password" required>
                <i class="far fa-eye" id="togglePassword"></i>
                <div class="button-container">
                    <button type="button" onclick="generatePassword(8)">Generate Password (8)</button>
                    <button type="button" onclick="generatePassword(16)">Generate Password (16)</button>
                </div>
            </div>
            <button class="confirm-btn" type="submit">Confirm</button>
        </form>
        <p id="message"></p>
        <div class="back-to-main">
            <button onclick="location.href='/main-page'">Back to Main Page</button>
        </div>
    </div>
</body>
</html>
